<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <style>
        body {padding-top: 50px;}
        .main__container { width: 100%; padding: 0 10%; }
        .question-container { margin-bottom: 30px; }
        h2, h3 { text-align: center; }
    </style>
</head>
<body>
    <div class="main__container">
        <h2>Exam Questions</h2>

      <form action="/exam" method="POST">
    {{#questions}}
        <div class="question-container">
            <h3>Question #{{ question_item_number }}</h3>
            <p>{{ question }}</p>

            <div>
                {{#choices}}
                    <label>
                        <input type="radio" name="answers[{{ question_item_number }}]" value="{{ letter }}">
                        {{ letter }}. {{ choice }}
                    </label><br>
                {{/choices}}
            </div>
        </div>
    {{/questions}}

    <button type="submit">Submit All</button>
</form>
    </div>
</body>
</html>
